@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', monospace;
}

body {
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(135deg, #EF2A82 30%, #f587c7);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 10%;
}

.brand-and-logo {
    display: inline-flex;
    align-items: center;
}

.logo {
    height: 2.5em;
    width: 2.5em;
}

.navbar-brand {
    color: #fff;
    margin-left: 0.7em;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Aboreto', cursive;
}

.hamburger {
    display: none;
}

.navbar ul {
    display: flex;
}

.nav-link {
    display: block;
	font-size: 1.2em;
	color: #fff;
    margin: 0 1em;
	text-transform: capitalize;
	transition: all 0.5s ease;
}


.nav-link:hover, .nav-link:active {
    color: #0e030b;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 2em 10%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 40%;
    padding-right: 3%;
}

.headline {
    font-weight: 700;
    color: #fff;
    line-height: 120%;
    margin-bottom: 1rem;
}

.filler {
    font-weight: 400;
    line-height: 150%;
    color: antiquewhite;
}

.convert {
    margin-top: 2em;
    text-align: center;
    font-family: 'Aboreto', cursive;
    background-color: black;
    padding: 1em 0;
    border-radius: 4em;
    border: none;
    color: #fff;
    letter-spacing: 0.1em;
    font-size: 1em;
    width: 50%;
    cursor: pointer;
}

.convert:hover {
    box-shadow: 0 2px 6px #f2f2f2;
}

.currency {
    width: 100%;
    border-radius: 2em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    z-index: 2;
}